
    <div *ngIf="editing">
        <form novalidate
              (ngSubmit)="onSubmit(albumForm)"
              [formGroup]="albumForm">

            <div class="form-group col-md-6"
                 [ngClass]="{'has-error': (albumForm.get('title').touched ||
                                                      albumForm.get('title').dirty) &&
                                                      !albumForm.get('title').valid }">

                    <label class="control-label" for="title">
                        Title
                        <input type="text"
                               class="form-control"
                               style="width:400px;"
                               placeholder="Album Title (required)"
                               id="title"
                               formControlName="title" />
                    </label>

                    <span class="help-block" *ngIf="(albumForm.get('title').touched ||
                                                                albumForm.get('title').dirty) &&
                                                                albumForm.get('title').errors">
                        <span *ngIf="albumForm.get('title').errors.required">
                            Please enter an album title.
                        </span>
                        <span *ngIf="albumForm.get('title').errors.minlength">
                            The title must be longer than 3 characters.
                        </span>
                    </span>
            </div>
            <div class="form-group col-md-6"
                 [ngClass]="{'has-error': (albumForm.get('description').touched ||
                                                       albumForm.get('description').dirty) &&
                                                       !albumForm.get('description').valid }">
                
                    <label class="control-label" for="description">
                        Description
                        <input type="text"
                               class="form-control"
                               style="width:400px;"
                               id="description"
                               placeholder="Album Description (required)"
                               formControlName="description" />
                    </label>

                    <span class="help-block" *ngIf="(albumForm.get('description').touched ||
                                                                albumForm.get('description').dirty) &&
                                                                albumForm.get('description').errors">
                        <span *ngIf="albumForm.get('description').errors.required">
                            Please enter an description for this album.
                        </span>
                        <span *ngIf="albumForm.get('description').errors.minlength">
                            The description must be longer than 3 characters.
                        </span>
                    </span>
            </div>
            <div class="form-group col-md-6">
                <button class="btn btn-success" type="submit" style="width:75px" [disabled]="albumForm.invalid">Save</button>
                <a class="btn btn-primary" style="width:75px" (click)="cancel()">Cancel</a>
            </div>
        </form>
    </div>


    <div *ngIf="!editing">
        <div class="col-md-6">
            <h3>
                <a [routerLink]="['/albums/:id/photos', {id: album.Id}]">{{album.Title}}</a>
            </h3>

            <p>
                Photos: <span class="badge">{{album.TotalPhotos}}</span>
            </p>
            <p>{{album.Description}}</p>
            <a class="btn btn-primary" style="width:75px" (click)="edit()">Edit</a>
            <a class="btn btn-primary" style="width:75px" (click)="delete(album)">Delete</a>
        </div>
    </div>